 body {
     background-color: #fff; /*bgc#fff */
     color: #555; /* c#fff */
}
header {
    background-color: #002171; /*bgc#002171 */
    color: #fff; /* c#fff */
}
nav {
    background-color: #008cff; /*bgc#008cff */
}
h1{
    margin-bottom: 0; /* mb0 */
}
h2{
color: #59a1e9; /* c#1976d2 */
}
dt{
    color: #004cff; /* c#002171 */
}
.resort{
    color: #1976d2; /* c#1976d2 */
}
