 body {
     background-color: #90c7e3; /*bgc#90c7e3 */
     background-image: linear-gradient(to bottom, #90c7e3, #fff); /* bgi */
     background-repeat: no-repeat;
     color: #555; /* c#fff */
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}
#wrapper {
    background-color: #fff; /*bgc#fff */
    box-shadow: 3px 3px 3px #333; /* bxs */
    margin: auto; /*m:a 8*/
    min-width: 960px; /* maw 960 */
    max-width: 2048px; /* maw 2048 */
    width: 80%; /*w80% */
}
header {
    background-color: #000032; /*bgc#002171 */
    background-image: url(images/sunset.jpg); /*bgi */
    background-position: right; /* bgdp */
    background-repeat: no-repeat; /* bgdr */
    color: #fff; /* c#fff */
    height: 60px; /*h60 */
    padding-top: 15px; /* pt15 */
    text-align: center; /* tac */
}
nav {
    background-color: #fff; /*bgc#fff */
    font-weight: bold; /* fwb */
    padding: 1em; /* p1 */
    text-align: center; /* tac */
}
nav a {
    text-decoration: none; /* txd  */
}
main{
    padding: 1px 20px 20px;
}
h1{
    margin-bottom: 0; /* mb0 */
    margin-top: 0; /* mt0 */
}
h1, 
h2, 
h3 footer  {
    font-family: Georgia, "Times New Roman",  serif;
}
h2  {
color: #59a1e9; /* c#1976d2 */
text-shadow: 1px 1px #ccc;
}

h3{
    color: #003; /* c#003 */
}
dt{
    color: #004cff; /* c#002171 */    
}
address{
font-style: normal; /* fsi */

}
footer{
    font-size: 75%; /* fs75% */
    font-style: italic; /* fsi */
    padding: 2em;
    text-align: center; /* txa */
}
.resort{
    color: #1976d2; /* c#1976d2 */
}
#homehero, #yurthero, #trailhero{
    background-repeat: no-repeat;
    background-size: cover; 
    height: 10.75rem; 
}
#homehero{
    background-image: url(images/coast2.jpg); 
}
#yurthero{
    background-image: url(images/yurt.jpg); 
}
#trailhero{
    background-image: url(images/trail.jpg); 
}
