 body {
     background-color: #fff; /*bgc#fff */
     color: #555; /* c#fff */
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}
header {
    background-color: #000032; /*bgc#002171 */
    color: #fff; /* c#fff */
    background-image: url(images/sunset.jpg); /*bgi */
    background-position: right; /* bgdp */
    background-repeat: no-repeat; /* bgdr */
line-height: 400%; /* lh400% */
text-indent: 1em; /* tx1 */
}
nav {
    background-color: #bbdefb; /*bgc#bbdefb */
    font-weight: bold; /* fwb */
}
nav a {
    text-decoration: none; /* txd  */
}
h1{
    margin-bottom: 0; /* mb0 */
}
h1, 
h2, 
h3 footer  {
    font-family: Georgia, "Times New Roman",  serif;
}
h2  {
color: #59a1e9; /* c#1976d2 */
}

h3{
    color: #003; /* c#003 */
}
dt{
    color: #004cff; /* c#002171 */    
}
address{
font-style: normal; /* fsi */

}
footer{
    font-size: 75%; /* fs75% */
    font-style: italic; /* fsi */
    text-align: center; /* txa */
}
.resort{
    color: #1976d2; /* c#1976d2 */
}
